<!DOCTYPE html>
<html lang="lt" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navigation">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" >
    <style>
        .nav-link {
            display: inline;
        }
    </style>
    <div class="container">
        <a class="navbar-brand" href="/" th:text="#{system.name}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" th:text="#{main.page}">
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/category}" th:text="#{navigation.category}"></a>
                </li>
                <li id="loginLi" style="display: none" class="nav-item">
                    <a class="nav-link" th:href="@{/login}" th:text="#{login}"></a>
                </li>
                <li class="nav-item dropdown" id="accountMenu" style="display: none">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       th:text="#{account}" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item disabled" id="currentUsername"></a>
                        <a class="dropdown-item disabled" id="currentUserEmail"></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" id="favorites" th:text="#{account.favorites}"></a>
                        <a class="dropdown-item" href="#" id="basket" th:text="#{account.basket}"></a>
                        <a class="dropdown-item" href="#" id="changePass" th:text="#{account.password.change}"></a>
                        <div class="dropdown-divider"></div>
                        <a  id="logout" class="dropdown-item" href="#" th:text="#{account.logout}"></a>
                    </div>
                </li>
                <li id="accountLi" style="display: none" class="nav-item">
                    <a class="nav-link" th:href="@{/account}" th:text="#{account}"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       th:text="#{lang.change}" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div id="locales" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:text="#{lang.en}" th:href="@{?lang=en}"></a>
                        <a class="dropdown-item" th:text="#{lang.lt}" th:href="@{?lang=lt}"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script>
        $("#changePass").click(function () {
            window.location.href="/account/password/" +  sessionStorage.getItem('token');
        });
        $("#favorites").click(function () {
            window.location.href="/account/favorites/" +  sessionStorage.getItem('token');
        });
        $("#basket").click(function () {
            window.location.href="/account/basket/" +  sessionStorage.getItem('token');
        });
        $(function () {
            if (checkLogin() === true) {
                $('#accountMenu').show();
                $('#currentUsername').text(sessionStorage.getItem("username"));
                $('#currentUserEmail').text(sessionStorage.getItem("userEmail"));
                $('#loginLi').hide();
            } else {
                $('#loginLi').show();
                $('#accountMenu').hide();
            }
        });

    </script>
</nav>
</th:block>
</html>