<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{account.basket}"></title>
    <th:block th:insert="fragments/head :: head"></th:block>
    <script th:src="@{/assets/js/product.js}" type="text/javascript"></script>
    <link th:rel="stylesheet" th:href="@{/assets/styles/favorites.css}"/>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>
<body>
<nav th:insert="fragments/navigation :: navigation"></nav>
<h2 class="text-center mt-5" th:text="#{account.basket}"></h2>
<div class="container">
    <div class="alert" role="alert" id="userSubmissionResult" style="display: none"></div>
    <div class="table-responsive" th:if="${productEntities} !=null">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center" th:text="#{table.name}"></th>
                <th:block th:each="shop : ${shops}">
                    <th class="text-center">
                        <img class="shop_logo" th:src="'/assets/images/' + ${shop.getLogoLink()}"
                             alt="">
                    </th>
                </th:block>
                <th class="text-center" th:text="#{table.actions}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="productEntity, index : ${productEntities}">
                <td class="text-center" th:text="${index.count}"></td>
                <td class="text-center">
                    <a th:href="@{/product/{id}(id=${productEntity.getProductId()})}">
                        <text th:text="${productEntity.getProductName()}"></text>
                    </a>
                </td>
                <th:block th:each="shop : ${shops}">
                    <th:block th:each="shopPrice : ${productEntity.getShopPrices()}">
                        <th:block th:if="${shop.getId()} == ${shopPrice.getKey()}">
                            <td class="text-center">
                                <th:block th:if="${shopPrice.getValue()}==0">
                                    <strong>
                                        <text>-</text>
                                    </strong>
                                </th:block>
                                <th:block th:unless="${shopPrice.getValue()}==0">
                                    <text th:text="${#numbers.formatDecimal(shopPrice.getValue(),1,'COMMA',2,'POINT')} + '€'"></text>
                                </th:block>
                            </td>
                        </th:block>
                    </th:block>
                </th:block>
                <td class="text-center">
                    <a href="#" class="favorite" id="addToFavorites" th:attr="onclick=|addToFavorites('${productEntity.getProductId()}')|"
                       th:title="#{table.actions.favorites}" data-toggle="tooltip"><i
                            class="fa fa-heart"></i></a>
                    <a href="#" class="delete" id="delete"
                       th:attr="onclick=|removeProduct('${productEntity.getProductId()}')|"
                       th:title="#{table.actions.remove}" data-toggle="tooltip"><i
                            class="fa fa-trash"></i></a>
                </td>
            </tr>
            <tr class="table-info">
                <td colspan="2" class="text-center"><h5 th:text="#{table.sum.total}"></h5></td>
                <th:block th:each="shop : ${shops}">
                    <th:block th:each="shopSum : ${totalSums}">
                        <th:block th:if="${shop.getId()} == ${shopSum.getKey()}">
                            <td class="text-center">
                                <strong>
                                    <text th:text="${#numbers.formatDecimal(shopSum.getValue(),1,'COMMA',2,'POINT')} + '€'">
                                    </text>
                                </strong>
                            </td>
                        </th:block>
                    </th:block>
                </th:block>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive" th:unless="${productEntities} !=null" th:text="#{account.basket.empty}"></div>
</div>
</body>
<script th:inline="javascript">

    var pss = [[#{product.submission.success}]];
    var aif = [[#{alreadyInFavorites}]];
    var sf = [[#{submit.fail}]];

    function addToFavorites(productId) {
        addToFavoritesAjax(productId);
    }

    function removeProduct(productId) {
        $.ajax({
                url: "/account/basket/remove",
                type: 'POST',
                data: {productId: productId},
                headers: {"Authorization": 'Bearer ' + sessionStorage.getItem('token')},
                success: function (data) {
                    // if (data.message === "success") {
                    location.reload();
                    // } else {
                    //     responseDiv.innerHTML = [[#{submit.fail}]];
                    //     responseDiv.className = "alert alert-danger";
                    // }
                    // responseDiv.style = "display: block";
                }
            }
        );
    }
</script>
</html>