<!DOCTYPE html>
<html lang="lt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <title th:text="#{account.password.change}"></title>
  <th:block th:insert="fragments/head :: head"></th:block>
  <link th:rel="stylesheet" th:href="@{/assets/styles/login.css}"/>
</head>
<body>
<nav th:insert="fragments/navigation :: navigation"></nav>
<div class="login-form">
<!--  <div style="display: none" id="afterRegistration" class="alert alert-success" role="alert"-->
<!--       th:text="#{account.registration.success}">-->
<!--  </div>-->
  <h2 class="text-center" th:text="#{account.password.change}"></h2>
  <div role="alert" id="loginResult" style="display: none"></div>
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
    </div>
    <input type="password" class="form-control" th:placeholder="#{account.password.old}" id="oldPassword"
           required="required">
    <div id="invalidOldPassword" class="invalid-feedback" style="display: none">
    </div>
  </div>
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
    </div>
    <input type="password" class="form-control" th:placeholder="#{account.password.new}" id="newPassword"
           required="required">
    <div id="invalidNewPassword" class="invalid-feedback" style="display: none">
    </div>
  </div>
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
    </div>
    <input type="password" class="form-control" th:placeholder="#{account.password.new}" id="secondNewPassword"
           required="required">
    <div id="passwordNotMatch" class="invalid-feedback" style="display: none">
    </div>
  </div>
  <div class="form-group">
    <button id="btnSubmitPasswordForm" class="btn btn-primary btn-block">
            <span id="spinner" class="spinner-border spinner-border-sm" role="status"
                  style="display: none" aria-hidden="true"></span>
      <text th:text="#{account.password.change}"></text>
    </button>
  </div>
</div>
<script>
  var invalidPassword = '[[#{invalidPassword}]]';
  var invalidPasswordFormat = '[[#{invalidPasswordFormat}]]';
  var passwordNotMatch = '[[#{passwordNotMatch}]]';
</script>
</body>
</html>