<!DOCTYPE html>
<html lang="lt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${product.getName()}"></title>
    <th:block th:insert="fragments/head :: head"></th:block>
    <script th:src="@{/assets/js/product.js}" type="text/javascript"></script>
    <link th:rel="stylesheet" th:href="@{/assets/styles/productPage.css}"/>
</head>
<body>
<nav th:insert="fragments/navigation :: navigation"></nav>
<div class="super_container">
    <div class="single_product">
        <div class="container-fluid" style=" background-color: #fff; padding: 11px;">
            <div class="row">
                <div class="col-lg-4 order-lg-2 order-1">
                    <div class="image_selected">
                        <img width="332" height="232" th:src="${product.getImageLink()}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-3">
                    <div class="product_description">
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{main.page}"></a></li>
                                <li class="breadcrumb-item"><a th:href="@{/category/{id}(id=${category.getId()})}"
                                                               th:text="#{'category.' + ${category.getId()}}"></a></li>
                                <li class="breadcrumb-item"><a th:href="@{/category/{categoryId}/{subCategoryId}
                                (categoryId=${category.getId()}, subCategoryId=${subCategory.getId()})}"
                                                               th:text="#{'subCategory.' + ${subCategory.getId()}}"></a>
                                </li>
                                <li class="breadcrumb-item active" th:text="${product.getName()}"></li>
                            </ol>
                        </nav>
                        <div class="product_name" th:text="${product.getName()}"></div>
                        <th:block th:if="${minPrice}!=null">
                            <div class="product_price" th:text="#{product.price.lowest} + ' ' +
                             ${#numbers.formatDecimal(minPrice.getPrice(),1,'COMMA',2,'POINT')} + '€'"></div>
                            <hr class="singleline">
                            <div>
                                <span class="product_info" th:text="#{product.price.last.check} + ' '"></span>
                                <strong class="product_info" th:text="${minPrice.getDate()}"></strong>
                            </div>
                        </th:block>
                        <hr class="singleline">
                        <div class="col-xs-6">
                            <th:block th:each="link: ${links}">
                                <th:block th:each="shop: ${shops}">
                                    <li th:if="${shop.getId()} == ${link.getShopId()}">
                                        <text th:text="#{product.page}"></text>
                                        <a th:href="${link.getProductLink()}" target="_blank">
                                            <img class="shop_logo" th:src="'/assets/images/' + ${shop.getLogoLink()}"
                                                 alt="">
                                        </a>
                                    </li>
                                </th:block>
                            </th:block>
                            <br>
                            <div class="alert" role="alert" id="userSubmissionResult" style="display: none"></div>
                            <button type="button" class="btn btn-success shop-button"
                                    id="btnFavorites" style="display: none" th:text="#{account.favorites.add}">
                            </button>
                            <button type="button" class="btn btn-primary shop-button"
                                    id="btnBasket" style="display: none" th:text="#{account.basket.add}">
                            </button>
                        </div>
                        <hr class="singleline">
                        <form>
                            <div class="alert" role="alert" id="emailSubmissionResult" style="display: none"></div>
                            <div class="col-xs-6">
                                <div class="input-group mb-3">
                                    <input id="emailAddress" name="email" type="text"
                                           class="form-control" th:placeholder="#{product.subscribe.email}"
                                           pattern="">
                                </div>
                                <button id="emailSubmission" type="button" class="btn btn-secondary shop-button"
                                        th:text="#{product.subscribe}">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row row-underline">
                <div class="col-md-6"><span class=" deal-text" th:text="#{product.review}"></span></div>
            </div>
            <div class="col-md-6">
                <th:block th:if="${!productReviews.isEmpty()}">
                    <th:block th:each="review, index : ${productReviews}">
                        <div class="commented-section">
                            <div class="d-flex flex-row align-items-center commented-user">
                                <h5 class="mr-2" id="reviewUsername" th:text="${review.getUsername()}"></h5>
                                <span class="mb-1 ml-2" th:text="${review.getDate()}"></span>
                            </div>
                            <div class="comment-text-sm">
                                <span th:text="${review.getText()}"></span>
                            </div>
                        </div>
                        <hr th:if="${!index.last}" class="singleline">
                    </th:block>
                </th:block>
                <th:block th:unless="${!productReviews.isEmpty()}">
                    <div>
                        <text th:text="#{product.review.empty}"></text>
                    </div>
                </th:block>
            </div>
            <br>
            <div class="row-graph" id="reviewBlock" style="display: none">
                <form>
                    <div class="alert" role="alert" id="reviewSubmissionResult" style="display: none"></div>
                    <div class="col-xs-6">
                        <div class="input-group mb-3">
                            <textarea class="form-control animated" cols="30" id="review" name="review"
                                      th:placeholder="#{product.review.placeholder}" rows="3" maxlength="256"></textarea>
                        </div>
                        <div class="text-right">
                            <button id="btnReviewSubmission" type="button" class="btn btn-success shop-button">
                                 <span id="spinner" class="spinner-border spinner-border-sm" role="status"
                                       style="display: none" aria-hidden="true"></span>
                                <text th:text="#{product.review.button}"></text>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row row-underline">
                <div class="col-md-6"><span class=" deal-text" th:text="#{product.price.history}"></span></div>
            </div>
            <div class="row-graph">
                <canvas id="canvas"></canvas>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">

    var productId = [[${product.getId()}]];
    var pss = [[#{product.submission.success}]];
    var aif = [[#{alreadyInFavorites}]];
    var sf = [[#{submit.fail}]];
    var aib = [[#{alreadyInBasket}]];
    var evf = [[#{email.validation.fail}]];
    var ess = [[#{email.submit.success}]];
    var esa = [[#{email.submit.alreadySub}]];
    var re = [[#{reviewEmpty}]];

    chartColors = {
        1: 'rgb(255, 99, 132)',
        2: 'rgb(54, 162, 235)',
        3: 'rgb(255, 205, 86)',
        4: 'rgb(75, 192, 192)',
        5: 'rgb(255, 159, 64)',
        6: 'rgb(153, 102, 255)',
        7: 'rgb(201, 203, 207)'
    };

    const productPrices = [[${productPrices}]];

    const dates = [...new Set(productPrices
        .sort(function (productPrice1, productPrice2) {
            return new Date(productPrice1.date) - new Date(productPrice2.date);
        }).map(productPrice => productPrice.date))];

    const shops = [[${shops}]];
    var shopDatasets = [];

    shops.forEach(function (item, index) {

        var prices = productPrices.filter(productPrice => productPrice.shopId === item.id)
            .sort(function (a, b) {
                return new Date(a.date) - new Date(b.date);
            }).map(productPrice => productPrice.price);

        if (prices.length !== 0) {
            shopDatasets.push({
                label: item.name,
                borderColor: chartColors[item.id],
                backgroundColor: chartColors[item.id],
                fill: false,
                data: prices,
                yAxisID: 'y-axis-1',
            });
        }
    });

    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myLine = Chart.Line(ctx, {
            data: {
                labels: dates,
                datasets: shopDatasets
            },
            options: {
                responsive: true,
                aspectRatio: 4,
                hoverMode: 'index',
                stacked: false,
                scales: {
                    yAxes: [{
                        type: 'linear',
                        display: true,
                        position: 'left',
                        id: 'y-axis-1',
                        gridLines: {
                            drawOnChartArea: false,
                        },
                    }],
                }
            }
        });
    };
</script>
</body>
</html>
